<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjt8t20-JFg0OLsICK_NT7p2itg1Y67Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>766837948305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOS.ToDoListFirebase</string>
	<key>PROJECT_ID</key>
	<string>todolist1-ebe6b</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist1-ebe6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766837948305:ios:e154c209e3bd6396c26430</string>
</dict>
</plist>